.imageInfo {
  width: 444px;
  margin-top: 7px;
}

html, body {
  height: 100%;
  margin: 0;
  
	background: url("../images/background.png") no-repeat center center fixed;
	background-size: cover;
	
	overflow: auto;
}

.vertical-center {
  width:270px;
  height:150px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-75px 0 0 -135px;
}

.searchInput {
	margin: 20px; 0px; 30px; 0px;
}

.title {
	margin: 15px; 0px; 10px; 0px;
}

p.uppercase {
    text-transform: uppercase;
}

.mainContent {
	width: 50%;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.dataContainer {
  width:400px;
  height:470px;
  margin: auto;	
}

.imageContainer {
  height:399px;	
  height:399px;	
  border-width:1px;
  border-style:solid;
  border-color:black;
}
